:root {
	--jumbo: #497AE1;
	--accent-light: #12CFC8;
	--accent-dark: #00B8B1;
	
}


html, body {
	height: 100%;
	margin: 0px;

}

body {
	padding: 0;
	color: #cdcdcd;
	font-size: 15px;
	background: #f4f4f4;
	font-family: 'Open Sans', sans-serif;
}

.main {
	height: 100%;
	min-width: 100%;
	background-color: #D5D5D5;
}
.container {
	min-width: 100%;
	background-color: #fff;
}

.nav-item {
	padding: 0px 5px 0px 5px;
}
nav, .jumbotron {
	display: block;
}
nav a {
	color: #fff;
}
nav a:hover {
	color: #9AB6F2;
}

nav {
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	background-color: #497AE1;
}
.jumbotron {
	background-color: var(--jumbo) !important;
}
.fa {
	padding: 15px;
	color: #f4f4f4;
}
.fab {
	padding: 15px;
	color: #f4f4f4;
}
.fas {
	padding: 15px;
}

.col-lg {
	text-align: center;
}
.title {
	color: #fff;
	font-size: 6em;
	display: inline-block;
	padding-top: 12%;
	font-weight: 800;
	text-align: center !important;
	font-family: 'Francois One', sans-serif;
}

.subtitle {
	color: #fff;
	font-size: 1.5em;
	display: inline-block;
	font-weight: 700;
	padding-top: 2%;
	padding-bottom: 18%;
	text-align: center !important;
	font-family: 'Sawarabi Gothic', sans-serif;
}

.section-header {
	font-size: 2.5em;
	display: block;
	font-weight: 700;
	padding-bottom: 2%;
	text-align: center !important;
	font-family: 'Signika', sans-serif; 
}
section {
	padding-top: 10%;
	padding-bottom: 5%;
	min-height: 600px;
}
#about-section {
	
}
#projects-section {
	background-color: #FFFFFF;
}
#contact-section {
	text-align:center!important; 
}
.project-icon {
	padding: 25px;
	height: 150px;
	width: auto;
}
.dev-icon {
	font-size: 50px;
	display: inline !important;
}
.card {
}
.card-body {
	background-color: #F4F4F4;
	padding: 10px!important;
}
.card-body .btn {
	background-color: var(--accent-light)!important;
	border-color: var(--accent-dark)!important;
}
.card-body .card-title {
	font-size: 1.1em;
	font-weight: 600;
}
.card-body .card-text {
	font-size:.9em;
	text-align: justify;

}

#bio {
	width: 80%;
	padding: 15px;
}
.theatrenow {
	font-family: 'Sawarabi Gothic', sans-serif;
	margin: 25px;
}
.theatrenow strong {
	font-weight: 900;
	color: black;
}
.theatrenow emphasis, .connecc emphasis {
	padding: 0;
	margin: 0;
	font-size: 11pt;
	color: grey;
	font-style: italic;
}
.theatrenow h1 {
	font-size: 35px;
	padding: 0;
	margin: 0;
	color: black;
	font-family: 'DM Serif Text', serif;

}
.theatrenow p {
	text-align: justify;
}
.theatrenow .screenshots {
	border: thin solid #C9C9C9;
	margin-bottom: 10px;
}