
html, body {
  height: 100%;
	margin: 0px;

}

body {
	padding: 0;
	background: #f4f4f4;
	color: #cdcdcd;
	font-family: 'Open Sans', Sans-Serif;
	font-size: 15px;
}


.main {
	height: 100%;
	min-width: 100%;
	background-color: #D5D5D5;
}
.container {
	min-width: 100%;
	background-color: #fff;
}

.navbar {
	font-family: 'Open Sans', Sans-Serif;
	font-size: 15px;
}
.nav-item {
	padding: 0px 10px 0px 10px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.fa {
	padding: 15px;
	color: #f4f4f4;
}
.fab {
	padding: 15px;
	color: #f4f4f4;
}

.home-img {
	padding: 5%;
	display: inline;
}
.col-sm {
	text-align: center;
}
.title {
	font-size: 5em;
	display: inline;
	font-weight: 800;
	text-align: left;
	padding-top: 10%;
	font-family: 'Work Sans', Sans-Serif;

}

.rounded-circle {
	margin: 10px;
}