<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Lauren Cramer</title>
<link href="../assets/styles/pageStyle.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Karla|Rubik&display=swap" rel="stylesheet">
</head>

<body>
	<div id="mainwrapper">
		<header class="school-color"> 
			<div id="logo"><a href="../index.html"><strong>LAUREN CRAMER</strong></a></div>
			<nav>
				<a href="#" title="Link">Professional Projects</a>|<a href="../personal-projects.html" title="Link">Personal Projects</a>|<p class="currentLink">Coursework</p>
			</nav>
		</header>
		<div id="content">
			<section id="mainContent">
				<a href="../school-projects.html" title="All coursework"><img src="https://img.icons8.com/cotton/64/000000/circled-left-2.png" alt="Back arrow" class="lightHover"></a>
				<h1>PROJECT NAME</h1>
				<h3>About</h3>
					<p>Lorem ipsum dolor amet four dollar toast chicharrones consectetur veniam hot chicken, pork belly bicycle rights brooklyn. Dreamcatcher hell of williamsburg typewriter. Offal fugiat velit venmo etsy, cupidatat aesthetic meh ea gluten-free tilde XOXO taiyaki. Mixtape quinoa roof party gochujang af waistcoat chillwave pitchfork laborum.
					</p>	
					<h3>Documentation/Resources</h3>
						<p>
						</p>	
			</section>
		</div>
	</div>
<footer>
  <hr>
  <p class="footerDisclaimer">Copyright © Lauren Cramer. <span>All Rights Reserved</span></p>
</footer>
</body>
</html>
